*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    padding: 32px 0;
}

.title {
    text-align: center;
}

.underline {
    width: 50px;
    margin: auto;
    background: #c59d5f;
    height: 4px;
    margin-top: 5px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    background: transparent;
    border: 1px solid #c59d5f;
    text-decoration: capitalize;
    font-size: 16px;
    margin: 0 8px;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 6px 12px;
    color: #c59d5f;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background: #c59d5f;
    color: white;
}